%fieldset
  %legend Double
  %p
    %input#yubin.yubin-1.postalize.separated{:type => 'text', :value => ''}
    %input.yubin-2{:type => 'text', :value => ''}
  %p
    %select.yubin-prefecture
      - @prefectures.each do |v|
        %option
          =v
    %input.yubin-address{:type => 'text'}

%fieldset
  %legend Single
  %p
    %input#zipcode.postalize{:type => 'text', :value => ''}
    %button.zipcode-load ろーど
  %p
    %select.zipcode-prefecture
      - @prefectures.each_with_index do |v, i|
        %option{:value => i}
          =v
    %input.zipcode-address{:type => 'text'}
