%h1 郵便番号検索 API

%p
  =link_to 'source code', 'https://github.com/closer/Postal'

%h2 Usage

%p id, classの指定のみで自動的に動作します。

%pre
  %code
    aaa
    aaa

%dl
  %dt /api.js
  %dd javascript library
  
  %dt /api.jQuery.js
  %dd include jQuery

  %dt /api.jQuery.noConflict.js
  %dd jQuery noConflict

  %dt /api/:zipcode
  %dd json api

%p
  =link_to :demo, '/demo'
